<div class="pad20 bcfff mb20">
  <h1><%= t('newsletter_sign_up') %></h1>
  <p><%= t('newsletter_text_signup') %></p>
</div>

<div class="pad20 bcfff mb20">
<%= @subscriber.email %>
<%= form_for @subscriber, :url => '/subscribers' do |f| %>
  <%= render 'subscribers/fields', :form => f %>
<% end %>
</div>

<div class="clear">&nbsp;</div>
